<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>URL0</key>
	<string>http://subversion.bounceme.net/dm</string>
	<key>resource0</key>
	<string>update.plist</string>
	<key>username0</key>
	<string>FormulePro</string>
	<key>password0</key>
	<string>cattadori2010!</string>
</dict>
</plist>
